.wapper {
	display: flex;
	padding: 100px 300px;
	align-items: center;
	justify-content: center;
	gap: 50px;
	width: 100%;
	flex-direction: column;
}
.wapper > h1 {
	font-size: 54px;
	margin-bottom: 60px;
}
.cardWapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
